# App
PORT=3000# Port number of the application

# Database connection
DATABASE_HOST=localhost# Address of the database server
DATABASE_TYPE=mysql# Type of the database (e.g. postgres, mysql, mongo)
DATABASE_PORT=3306# Port number of the database
DATABASE_USER=admin# Username for the database connection
DATABASE_PASSWORD=123# Password for the database connection
DATABASE_NAME=yogger# Name of the database
AUTO_LOAD_ENTITIES=true# Automatic loading of entities from the "entities" folder
SYNCHRONIZE=true# Automatic synchronization of the database schema

# JWT authentication
JWT_SECRET=secret# Secret key for JWT token generation
JWT_TOKEN_AUDIENCE=http://localhost:3000# Audience of the JWT access token
JWT_TOKEN_ISSUER=http://localhost:3000# Issuer of the JWT access token
JWT_ACCESS_TOKEN_TTL=3600# Time-to-live for the JWT access token in seconds
JWT_REFRESH_TOKEN_TTL=86400# Time-to-live for the JWT refresh token in seconds

# Throttling configuration
THROTTLER_TTL=60# Time-to-live for throttling in seconds
THROTTLER_LIMIT=100# Maximum number of requests allowed within THROTTLE_TTL

# Redis configuration
REDIS_HOST=127.0.0.1# Hostname of the Redis server
REDIS_PORT=6379# Port number of the Redis server